header#choose
  .row
    .span12
      h2 Was möchten Sie tun?
      p
        a(class="btn-large btn btn-inverse", id="release", ng-click="release()") Release!
        //- a(class="btn-large btn btn-success", id="control", href="/control") Navigate!