#container_control
  section#control
    .page-header
      h1 Control a WebCar
    .row
      .span8
        h4 List of available WebCars
        p.
          List will go here
      .span4
        h4 Do it
        a(href="#", class="btn-large btn btn-success") Control!