#container_login
  form(name="login", class="well form-horizontal")
    fieldset
      legend Login
      .control-group
        label(for="username", class="control-label") Username:
        .controls
          input(type="text", name="username", class="input-xlarge", id="username", ng-model="user.name")
      .control-group
        label(for="password", class="control-label") Passwort:
        .controls
          input(type="password", name="password", class="input-xlarge", id="password", ng-model="user.pwd")
      .pull-center
        a(href="#", class="btn btn-inverse btn-large", ng-click="update(user)") Login
        a(href="#", class="btn btn-fb btn-large") Login via Facebook
        a(href="#", class="btn btn-success btn-large", ng-click="openDialog('signup', 'SignUpCtrl')") Signup now
  .pull-center(ng-controller="DialogCtrl")
    a(href="#", class="btn btn-large", ng-click="close()") Cancel