#container_login
  form(name="signup", class="well form-horizontal", novalidate)
    fieldset
      legend Signup
      .control-group
        label(for="email", class="control-label") Email:
        .controls
          input(type="email", name="mail", class="input-xlarge", id="mail", ng-model="user.mail", required)
          span(ng-show="signup.mail.$error.required", class="help-inline") Email is required
          span(ng-show="signup.mail.$error.email", class="help-inline") Email is invalid
      .control-group
        label(for="username", class="control-label") Username:
        .controls
          input(type="text", ng-minlength="5", pattern=".{5,}", name="name", 
            class="input-xlarge", id="name", ng-model="user.name", required)
          span(ng-show="signup.name.$error.required", class="help-inline") Username is required
          span(ng-show="signup.name.$error.minlength", class="help-inline") Username is too short
      .control-group
        label(for="password", class="control-label") Passwort:
        .controls
          input(type="password", ng-minlength="5", pattern=".{5,}", name="password", 
            class="input-xlarge", id="password", ng-model="user.password", required)
          span(ng-show="signup.password.$error.required", class="help-inline") Password is required
          span(ng-show="signup.password.$error.minlength", class="help-inline") Password is too short
      .control-group
        label(for="repeat-password", class="control-label") Repeat Password:
        .controls
          input(type="password", ng-minlength="5", pattern=".{5,}", name="password_repeat",
            class="input-xlarge", id="password_repeat", ng-model="user.password_repeat", 
            required, same-as="user.password")
          span(ng-show="signup.password_repeat.$error.required", class="help-inline") Password confirmation is required
          span(ng-show="signup.password_repeat.$error.minlength", class="help-inline") Password confirmation is too short
          span(ng-show="signup.password_repeat.$error.sameAs", class="help-inline") Password confirmation is not correct


      .form-actions
        a(href="#", class="btn btn-inverse btn-large", ng-click="update(user)", ng-disabled="signup.$invalid") Sign Up
        a(href="#", class="btn btn-large", ng-click="close()") Cancel