!!! 5
html(ng-app="WebCar", lang="de")
    head
        title WebCar
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="WebCar")
        meta(name="author", content="Lisa Maria Lederer, Sebastian Slamanig, MIchael Poschacher")

        link(type="image/x-icon", rel="icon", href="/favicon.ico")
        link(type="image/x-icon", rel="shortcut icon", href="/favicon.ico")

        != css("lib/simplex.css")
        != css("lib/style.css")

    body#top.preview(data-offset='80', data-target='.subnav', data-spy='scroll', style='margin-top: 0px;')
      .nav-black
      .nav-bg
        .navbar.navbar-fixed-top
            .navbar-inner
              .container
                a.brand(href='../') Web Car
                #main-menu.nav-collapse.collapse
                  ul#main-menu-left.nav
                    li
                      a(href='/#about') Das Projekt
                    li
                      a(href='/#member') Das Team
                    li
                      a(href='/#impressum') Impressum
                    //- li(ng-controller="DialogCtrl")
                    //-   a(href='#', ng-click="openDialog('settings', 'SettingsCtrl', 'modal-settings')") Einstellungen
                    li
                      a(href="settings") Einstellungen
                    li
                      if user === null
                        a(href='#', ng-click="openDialog('login', 'LogInCtrl')", ng-controller="DialogCtrl") Login or Signup
                      else
                        a(href="#", ng-click="logout()", ng-controller="LogoutCtrl") Logout
      .container_context
      //-if message !== null
        //-  p #{message}
        .row
          .span4
            &nbsp;
          .span4.alert.alert-block
            a.close x
            h4.alert-heading Alert!
            p Hallöchen erstmal

        .row
          .span4
            &nbsp;
          .span4.alert.alert-error
            a.close x
            strong Error
            |  Das hier ist eine super tolle Error Message!

        .row
          .span4
            &nbsp;
          .span4.alert.alert-success
            a.close x
            strong Success
            |  Das hier ist eine super tolle Success Message!

        .row
          .span4
            &nbsp;
          .span4.alert.alert-info
            a.close x
            strong Information
            |  Info :P

        if user === null
          h1 Hi
        else if user.name
          h1 Hi #{user.name}
          a(href="/logout") Logout
          br
          a(href="/profile") Profile
        else
          h1 Hi #{user.name}
          br
          a(href="/profile") Profile


      .container_context
        div(ng-view)


// Include our Scripts. See /assets/js.
// ============================================================================
// Load jQuery
!= js("lib/jquery-2.0.0.min")
// Load Angular
!= js("lib/angular-1.0.6/angular.min")
!= js("lib/bootstrap-gh-pages/ui-bootstrap-0.3.0.min.js")
// Load Angular Configuration
!= js("app")
!= js("controllers")
!= js("directives")
!= js("filters")
!= js("services")
// load specific stuff
!= js("lib/jquery.scrollTo-1.4.3.1-min")
!= js("main")