!!! 5
html(ng-app="WebCar", lang="de")
    head
        title WebCar
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="WebCar")
        meta(name="author", content="Lisa Maria Lederer, Sebastian Slamanig, Michael Poschacher")

        link(type="image/x-icon", rel="icon", href="/favicon.ico")
        link(type="image/x-icon", rel="shortcut icon", href="/favicon.ico")

        != css("lib/bootstrap.min.css")
        != css("lib/bootstrap-responsive.min.css")
        != css("lib/font-awesome-min.css")
        != css("lib/bootswatch.css")
        != css("bootstrap-adaptions.css")


    body#top.preview(data-offset='80', data-target='.subnav', data-spy='scroll', style='margin-top: 0px;')
      .navbar.navbar-fixed-top
          .navbar-inner
            .container
              a.brand(href='../') Web Car
              a.menuIcon(href='../')
              a.btn.btn-navbar.collapsed(data-target=".nav-collapse", data-toggle="collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar 
              #main-menu.nav-collapse.collapse
                ul#main-menu-left.nav(ng-controller="AnchorCtrl")
                  if user !== null && user !== undefined
                    li
                      a(href="choose") Drive/Release
                  li
                    a(href='/#about') Das Projekt
                  li
                    a(href='/#member') Das Team
                  li
                    a(href='/#impressum') Impressum
                  if user !== null && user !== undefined
                    if user.fbId === null || user.fbId === undefined
                      li
                        a(href="settings") Einstellungen
                  li
                    if user === null || user === undefined
                      a(href='#', ng-click="openDialog('login', 'LogInCtrl')", ng-controller="DialogCtrl") Login or Signup
                    else
                      a(href="#", ng-click="logout()", ng-controller="LogoutCtrl") Logout
      .container(ng-view)


// Include our Scripts. See /assets/js.
// ============================================================================
// Load jQuery
!= js("lib/jquery-2.0.0.min")
// Load Angular
!= js("lib/angular-1.0.6/angular.min")
!= js("lib/bootstrap-gh-pages/ui-bootstrap-0.3.0.min.js")
// Load Angular Configuration
!= js("app")
!= js("controllers")
!= js("directives")
!= js("filters")
!= js("services")
// load specific stuff
!= js("lib/jquery.scrollTo-1.4.3.1-min")
!= js("lib/bootstrap.min")
!= js("lib/bootswatch")
!= js("main")