form(id="singup", method="POST", action="/signup")
    lable(for='name') User Name
    input#username(type='text', name='name')
    lable(for='email') Email
    input#username(type='text', name='email')
    lable(for='avatar') Avatar
    input#username(type='text', name='avatar')
    lable(for='password') Password
    input#password(type='text', name='password')
    input(type="submit", value="Sing UP")

//- h1!=message