@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700');

html, body {
    margin: 0px;
    height: 99%;
    font-family: 'Open Sans', Calibri, Arial;
    overflow: hidden;
    background-image: url("auto_color.png");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 50%;
    background-color: #FFF;
    color: #666;

}

h1 {
  font-size: 22px;
  font-weight: normal;
}

span {
  font-size: 14px;
}

#containerJoystick {
  /*margin: 0px auto;
  top: 5%;
  left: 2.5%;
  position: absolute;  
  height: 90%;
  width: 95%;

  border: 5px solid #e3e3e3;*/
  margin: 0px;
  padding: 0px;
  -moz-box-shadow:    inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  box-shadow:         inset 0 0 20px #000000;
  border: 0;
  height: 100%;
  width: 100%;
}

#containerJoystick h1{
  margin: 0px;
  padding: 0px;
}

#infoJoystick {
  padding: 30px;
}

#notification {
  background-color: #FFF;
  border: 1px solid #000;
  width: 80%;
  position: absolute;
  margin-left: 10%;
  margin-top: 10%;
  z-index: 999;
  display: none;
  height: auto;
}

#notificationHeader {
  background-color: #000;
  color: #FFF;
  font-size: 18px;
  padding: 10px 20px;
}

#notificationBody {
  font-size: 18px;
  padding: 30px 20px;
}

#blackening {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 998;
  display: none;
}

#contentWrapper {
  width: 95%;
  height: 80%;
  float: left;
}

#speedWrapper {
  width: 5%;
  height: 80%;
  float: left;
}

#directionWrapper {
  width: 93%;
  height: 15%;
  float: left;
  margin-top: 40px;
  padding: 0px;
  bottom: 0;
}

.buttonsKeypress {
    width: 60px;
    height: 60px;
    background-color: #d4d4d4;
}

.buttonsKeypressActive {
    background-color: #959595;
}

#forwardButton {
    background-image: url('forward.png');
    left: 46%;
    margin-left: -30px;
    position: absolute;
    top: 30px;
}

#backButton {
    background-image: url('back.png');
    left: 46%;
    margin-left: -30px;
    position: absolute;
    bottom: 20%;
}

#leftButton {
    background-image: url('left.png');
    top: 43%;
    margin-top: -30px;
    position: absolute;
    left: 30px;
}

#rightButton {
    background-image: url('right.png');
    right: 10%;
    top: 43%;
    margin-top: -30px;
    position: absolute;
}

#direction {
    width:100%;
    height: 20px;
    padding-top: 2%;

}

#thumbDirection {
    height: 28px;
    width: 5px;
    background-color: #333;
    left: 50%;
    position:relative;
    top: -24px;
}

#boxDirection {
    width: 100%;
    height: 20px;
    background-color: #d0d0d0;
    border: none;
}

#middleDirection {
    height: 40px;
    width: 2px;
    background-color: #cf000a;
    left: 50%;
    margin-left: 1px;
    position:relative;
    top: -57.5px;
    border: 0px solid black;
}

#leftLabel {
    float:left;
    font-style: italic;
    margin-top: -4px;
}

#rightLabel {
    float: right;
    font-style: italic;
    margin-top: -4px;
}

#forwardLabel {
    font-style: italic;
    text-align: center;
    display: block;
    padding: 30px 10px 4px 0px;
}

#backLabel {
    font-style: italic;
    text-align: center;
    display: block;
    margin-top: 4px;
    padding-right: 10px;
}

#forward {
    height:90%;
    width: 20px;
    position: relative;
    padding-left: 25%;
}

#thumbForward {
    height: 5px;
    width: 28px;
    background-color: #333;
    top: 50%;
    position:relative;
    left: -4px;
}

#boxForward {
    height: 100%;
    width: 20px;
    background-color: #d0d0d0;
    border: none;
}

#middleForward {
    width: 40px;
    height: 2px;
    top: 50%;
    position:relative;
    left: -10px;
    border: 0px solid black;
    margin-top: -3px;
    background-color: #cf000a;
}


#out {
  width: 100px;
  height: 20px;
}

.main p {
  padding-bottom: 5px;
}

.main h4 {
  padding-top: 10px;
  margin-top: 15px;
}

.main h5 {
  padding-top: 5px;
  margin-top: 10px;

}

.main {
  padding: 0px 40px 0px 20px;
  height: 100%;
  margin: 0px;
}

#notify {  
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:rgba(0,0,0,0.6);
    z-index:0;
}

#dialog {
  width: 70%;
  height: 70%;
}

#notify p {
  margin: 0px auto;
  color: white;
  font-size: 30px;
}


#orient {
  margin: 0px;
  padding: 0px;
}

p {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

@media (max-width: 767px) {
    body {
      font-size: 11px;
    }

    h1 {
      font-size: 16px;
    }

    #directionWrapper {
      margin-top: 10px;
    }

    #forwardLabel {
      padding: 5px 10px 4px 0px;
    }

    #forwardLabel, #backLabel, #rightLabel, #leftLabel {
      font-size: 11px;
    }

    #rightLabel, #leftLabel {
      margin-top: -10px;
    }

    #speedWrapper {
      height: 70%;
    }

    #forwardButton, #backButton,  #rightButton, #leftButton {
      height: 30px;
      width: 30px;
      background-size: 30px 30px;
    }

    #rightButton, #leftButton {
      top: 43%;
      margin-top: -10px;
      position: absolute;
    }

    #rightButton {
      margin-right: 10%;
    }
}

#password {
    width: 50%;
    margin: 15% auto;
    opacity: 0.9;
    background-color: #333;
    -moz-box-shadow: 0 0 25px 5px #999;
    -webkit-box-shadow: 0 0 25px 5px #999;
    box-shadow: 0 0 25px 5px #999;
}

#password form {
    border: 0;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2),-1px -1px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2),-1px -1px 0 rgba(0,0,0,0.1);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2),-1px -1px 0 rgba(0,0,0,0.1);

    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ededed;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);

    margin: 0 0 20px;
}

#password form fieldset {
    padding: 0;
    margin: 0;
    border: 0
}

#password form fieldset legend {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    border-bottom: 1px solid #ddd;
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.form-horizontal .control-group {
    margin-bottom: 20px;
}

legend+.control-group {
    margin-top: 20px;
    -webkit-margin-top-collapse: separate;
}

.form-horizontal .control-label {
    float: left;
    /*width: 160px;*/
    padding-top: 5px;
    text-align: right;
}

label {
    display: block;
    margin-bottom: 5px;
}

label, input, button {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-right: 15px;
}

label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}

.form-horizontal .controls {
    /*margin-left: 180px;*/
}

.form-horizontal input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

input[type="password"] {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    width: 50%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
}

#passphrase_error {
    font-size: 0.8em;
    display: block;
    float: left;
    line-height: 30px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}

.btn {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-fb {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-fb:hover,
.btn-fb:focus,
.btn-fb:active,
.btn-fb.active,
.btn-fb.disabled,
.btn-fb[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-fb:active,
.btn-fb.active {
  background-color: #003399 \9;
}

video {
  height: 0px; display: none;
}

@media (min-width: 481px) and (max-width: 767px) {
    
    #password {
        width: 80%;
        margin-top:10px;
    }
}

@media (max-width: 767px) {

    input[type="password"] {
        width: 100%;
     
    }

    #password {
        width: 80%;
    }
}

