.img_placeholder {
	width: 80%;
	height: 400px;
	border: 1px dashed #555;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 60%;
}

form.img_placeholder {
	height: 200px;
}

#instructions {
	background-image: url("auto.png");
}

#phone_connector {
	background-image: url("kabel.png");
}

#volume_img {
	background-image: url("lautstaerke.png");
}