.img_placeholder {
    width: 250px;
    height: 250px;
    border: 1px dashed #555;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 95%;
}

form.img_placeholder {
    width: 250px;
}

#instructions {
    background-image: url("auto_color.png");
}

#phone_connector {
    background-image: url("kabel.png");
}

#volume_img {
    background-image: url("lautstaerke.png");
}

form.img_placeholder {
    border: none;
}

video {
    width: 0px;
    height: 0px;
    display: none;
}

#connection_error {
  color: #ff0000;
  display: block;
  clear: both;
  padding: 10px;
}