!!! 5
html(ng-app="WebCar", lang="de")
    head
        title WebCar
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="WebCar")
        meta(name="author", content="Lisa Maria Lederer, Sebastian Slamanig, Michael Poschacher")

        link(type="image/x-icon", rel="icon", href="/favicon.ico")
        link(type="image/x-icon", rel="shortcut icon", href="/favicon.ico")

        //- != css("lib/bootstrap.min.css")
        != css("controls.css")

    body
        #videoContainer
            video.mirror(id="remote", autoplay)
        #password
            form(class="form-horizontal well")
                fieldset
                    legend Autorisierung
                    div.control-group
                        label(class="control-label", for="passphrase") Passwort
                        div.controls
                            input(type="password", id="passphrase_input", class="input", required, pattern=".{5,}")
                            span(class="help-inline", id="passphrase_error") Passwort benötigt.
                        center
                            span.error(id="login_error")
                center
                    a(class="btn btn-large btn-fb", id="connect", disabled) Connect

        script(type="text/javascript")
            carId = "#{carId}"

        #controls
            #notification
                #notificationHeader.
                    Falsche Orientierung
                #notificationBody
                    p.
                        Bitte drehe dein Smartphone/Tablet ins Querformat für das Steuern mit Neigungssensors.
                    p
                        .hint
            #blackening
            .main
                //-#contentWrapper
                    h1.noPadding Values of Gyroscope:
                    #slider-vertical
                    p Orientation:
                    #orient 0
                    p Beta (left/right):
                    #gBeta 0
                    p Gamma (forwards/backwards):
                    #gGamma 0
                    h3.noPadding Values of Keypress:
                    p Speed:
                    #speedKeypress
                    p Direction:
                    #directionKeypress
                //#forwardButton.buttonsKeypress
                //#leftButton.buttonsKeypress
                //#rightButton.buttonsKeypress

                #speedWrapper
                    span#forwardLabel forward
                    #forward
                        #boxForward
                            #thumbForward
                            #middleForward
                    span#backLabel back

                #directionWrapper
                    // Display Dir012ection
                    span#leftLabel left
                    span#rightLabel right
                    #direction
                        #boxDirection
                        #thumbDirection
                        #middleDirection
                //#backButton.buttonsKeypress

              //#notify
                  #dialog(title='Wrong Orientation')
                      p
                          | Wrong Device Orientation!
                      br
                          | Please go back to Landscape mode





// Include our Scripts. See /assets/js.
// ============================================================================
// Load jQuery
!= js("lib/jquery-2.0.0.min")
!= js("lib/keydrown")
!= js("control/control")
if is_tablet
    != js("control/tablet")
else
    != js("control/drive")
!= js("lib/adapter")
//- if control == "gyro"
//- if is_tablet
//-    != js("control/sensors_tablet.js")
//- else
//-    != js("control/sensors")
//- else if control == "keyboard"
//-     != js("control/keypress2")
//- else if control == "keyboard2"
//-     != js("control/keypress")
//- else if control == "joystick"
//-     != js("control/joystick")
//-     != js("lib/joystickLib")