extends ./layout

block content
    #containerJoystick
      #infoJoystick
          span#result

      //#notify
          #dialog(title='Wrong Orientation')
              p
                  | Wrong Device Orientation!
              br
                  | Please go back to Landscape mode
