extends ./layout

block content
    .main
        #contentWrapper
            h3.noPadding Values of Keypress:
              //Speed 
            p Speed:
            #speedKeypress
            p Direction:
            #directionKeypress
        #forwardButton.buttonsKeypress
        #leftButton.buttonsKeypress
        #rightButton.buttonsKeypress
        #speedWrapper
            // Display speed 
            span#forwardLabel forward
            #forward
                #boxForward
                    #thumbForward
                    #middleForward
            span#backLabel back
        #directionWrapper
            // Display Direction 
            span#leftLabel left
            span#rightLabel right
            #direction
                #boxDirection
                #thumbDirection
                #middleDirection
        #backButton.buttonsKeypress