.buttonsKeypress {
	width: 60px;
	height: 60px;
	background-color: #d4d4d4;
}

.buttonsKeypressActive {
	background-color: #959595;
}

#forwardButton {
	background-image: url('images/forward.png');
	left: 46%;
	margin-left: -30px;
	position: absolute;
	top: 30px;
}

#backButton {
	background-image: url('images/back.png');
	left: 46%;
	margin-left: -30px;
	position: absolute;
	bottom: 20%;
}

#leftButton {
	background-image: url('images/left.png');
	top: 43%;
	margin-top: -30px;
	position: absolute;
	left: 30px;
}

#rightButton {
	background-image: url('images/right.png');
	right: 10%;
	top: 43%;
	margin-top: -30px;
	position: absolute;
}